{% extends 'base.html.twig' %}

{% block title %}
    About Us | {{ parent() }}
{% endblock %}

{% block body %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Ad adipisci consequuntur corporis cupiditate eius esse ex expedita itaque labore magnam minima nihil nostrum
        officia porro quos, repudiandae, veritatis.
        Eligendi, repudiandae?</p>
{% endblock %}

