{% extends 'base.html.twig' %}

{% block title %}
    todo afficher le wish | {{ parent() }}
{% endblock %}

{% block body %}
    <h2>todo le titre du wish</h2>

    {# todo afficher toutes les infos du wish #}
{% endblock %}

