{% extends 'base.html.twig' %}

{% block body %}
    <section class="wish-list">
        {% for wish in wishes %}
            {% if wish.isPublished %}
            <article>
                <a href="{{path('wish_details',{'id':wish.id}) }}" title="View details">
                    {{wish.title}} - <span class="cat">[{{ wish.category.name}}]</span></a>
            </article>
            {% endif %}
        {% endfor %}
    </section>
{% endblock %}

{% block title %}
 Wishes list | {{ parent() }}
{% endblock %}

