<nav>
    <ul>
        <li><a href="{{ path('main_home') }}" title="Back Home">Home</a></li>
        <li><a href="{{ path('wish_list') }}" title="All wishes">All wishes</a></li>
        <li><a href="{{ path('wish_create') }}" title="Create your wish">Add yours !</a></li>
        <li><a href="{{ path('main_aboutUs') }}" title="About us">About Us</a></li>
    </ul>
</nav>
